body {
  min-width: 300px;
  overflow-x: hidden;
  background: #b9bcbf;

}

h1 {
  font-family: sans-serif;
  text-align: center;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.linkDetails a {
  text-decoration: none; 
}

.title {
  border-bottom: 1px solid black;
  font-family: sans-serif;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.posts {
  padding-bottom: 10px;
}